<div *ngIf="weather" id="page">
  <div *ngFor="let w of weather">
    <div *ngIf="num==w.id">

  <h1>Weather details on {{ w.day }} (# {{ w.id }})</h1>
  <a class="home" routerLink="/andrei">Back</a>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Day</th>
      <th scope="col">Feels</th>
      <th scope="col">Pop</th>
      <th scope="col">Wind</th>
      <th scope="col">Today</th>
    </tr>
    </thead>
    <tbody >
    <tr >
      <td>{{ w.day }}</td>
      <td>{{ w.feels }} &deg;C </td>
      <td>{{ w.pop }} &deg;C</td>
      <td>{{ w.wind }} kmh</td>
      <td>{{ w.today }}</td>
    </tr>
    </tbody>
  </table>
  </div>
  </div>

</div>