<table>
  <thead>
    <tr>
      <td></td>
      <td *ngFor="let w of weathers" [class.bg-color]="w.today === true" >{{w.day}}</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Feels Like: </td>
      <td *ngFor="let w of weathers" [class.bg-color]="w.today === true">{{w.feels}}</td>
    </tr>
    <tr>
      <td>Percent of Percipitation: </td>
      <td *ngFor="let w of weathers" [class.bg-color]="w.today === true">{{w.pop}}</td>
    </tr>
    <tr>
      <td>Wind: </td>
      <td *ngFor="let w of weathers" [class.bg-color]="w.today === true">{{w.wind}}</td>
    </tr>
  </tbody>
</table>